.input {
    position: relative;
    margin-bottom: 27px;
}

.input__native {
    height: 32px;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    font-size: 13px;
    padding: 8px 0;
    outline: none;
}

.input__label {
    position: absolute;
    top: 8px;
    left: 0;
    font-size: 13px;
    transition: 0.3s ease;
    color: var(--dark-color);
}

.input__native:focus ~ .input__label,
.input__native:not(:placeholder-shown).input__native:not(:focus) ~ .input__label {
    top: -8px;
    left: 0;
    font-size: 9px;
}
