<div class="input">
    <input class="input__native" id={{name}} name={{name}} placeholder=" " type="text" required>
    <span class="input__error">Ошибка</span>
    <label class="input__label" for={{name}}>{{label}}</label>
</div>
