<main>
    <div class="flex-center">
        <article class="card">
            <header>
                <h1 class="card__title">{{title}}</h1>
            </header>
            {{> @partial-block }}
        </article>
    </div>
</main>
