<div class="flex-center">
    <nav>
        <ul>
            <li>{{> Link text="Страница Авторизации" page="login" }}</li>
            <li>{{> Link text="Страница Регистрации" page="registration" }}</li>
            <li>{{> Link text="Страница 505" page="505" }}</li>
            <li>{{> Link text="Страница 404" page="404" }}</li>
            <li>{{> Link text="Страница Профиля" }}</li>
            <li>{{> Link text="Страница Чата" }}</li>
        </ul>
    </nav>
</div>
