<dialog id="modal" class="modal" {{#if showModal}}open{{/if}}>
    <div class="modal__content flex flex-direction-column align-items-center">
        <h2 class="modal__title">Загрузите файл</h2>
        {{> Link text="Выбрать файл" }}
        {{> Button label="Заменить" type="primary" }}
    </div>
</dialog>
