<figure class="avatar flex flex-direction-column">
    <div class="avatar__image-wrapper">
        <img class="avatar__image" src="{{image}}" alt="Аватарка">
    </div>
    <figcaption class="avatar__name">
        Петя
    </figcaption>
</figure>
