<figure class="avatar flex flex-direction-column">
    <div class="avatar__image-wrapper">
        <img class="avatar__image" src="{{image}}" alt="Аватарка">
        <div class="avatar__overlay flex align-items-center justify-content-center">
            <p class="avatar__overlay-text">Поменять аватар</p>
        </div>
    </div>
    <figcaption class="avatar__name">
        {{first_name}}
    </figcaption>
</figure>
