.link {
    color: var(--primary-color);
    font-size: 11px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: var(--primary-hover-color);
}

.link--danger {
    color: var(--danger-color);
}

.link--danger:hover {
    color: var(--danger-hover-color);
}
